// Import the initial variables from Bulma
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";


// Change the font used
$family-serif: "Playfair Display", serif;
$family-sans-serif: "Raleway", sans-serif;


// Import the rest of Bulma
@import "node_modules/bulma/bulma.sass";


// Bulma sets a scrollbar to be always visible. Change that.
html {
    overflow-y: auto;
    overflow-x: hidden;
}


// Profile image on the homepage
.profile-image {
    margin-left: auto;
    margin-right: auto;
    img {
        border-radius: 50%;
    }
}
