---
title: About
---

<section class="hero is-dark">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-2">
        About Me
      </h2>
    </div>
  </div>

</section>

<br>

<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="<%= page "index" %>">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">About</a></li>
  </ul>
</nav>

<section class="section">

  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="content is-large">
          <p>
            I am a freelance software engineer and cofounder of Standmore.
            I spend much of my time hacking away at side projects and I take
            great interest in working with sensors and electronics.
          </p>

          <p>
            I am also an athlete and compete in obstacle course racing.
            Majority of my training consists of running and calisthenics.
            I recently have taken up rock climbing and bouldering.
          </p>
      </div>
    </div>
  </div>

</section>
