---
title: Home
---

<section class="hero is-dark is-fullheight">

  <div class="hero-head">
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-2">
        Daylen Wolaniuk
      </h2>
      <h5 class="subtitle">
        Hacker | Athlete | Explorer
      </h5>
      <figure class="image is-128x128 profile-image">
        <img src="<%= asset "images/profile.jpg" %>">
      </figure>
      <br>
      <div class="tabs is-centered">
        <ul>
          <li><a href="<%= page "about" %>">About</a></li>
          <li><a href="<%= page "posts/index" %>" >Posts</a></li>
          <li><a href="mailto:mail@daylenw.com">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="hero-foot">
  </div>

</section>
