<!doctype html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= site_name %> | <%= page_title %></title>

    <link rel="stylesheet" href="/assets/css/app.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway">

  </head>


  <body>

    <main>
    <%= contents %>
    </main>

  </body>
</html>
