<section class="hero is-dark">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-2">
        <%= header %>
      </h2>
    </div>
  </div>

</section>

<br>

<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="<%= page "index" %>">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page"><%= header %></a></li>
  </ul>
</nav>

<br>

<div class="columns is-multiline">

  <%= for x <- posts do %>
    <div class="box column is-half is-offset-one-quarter
                is-10-mobile is-offset-1-mobile">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>
                <a href="<%= x.url %>"><%= x.title %></a>
              </strong>
              <small><%= x.date %></small>
              <br>
              <p>
                <%= x.preview_text %>&hellip;
                &nbsp;<a href="<%= x.url %>">Read more</a>
              </p>
          </div>
        </div>
      </article>
    </div>
    <br>
  <% end %>

</div>
