<section class="hero is-dark">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-2">
        <%= title %>
      </h2>
      <h5 class="subtitle">
        Posted on <%= date %>
      </h5>
    </div>
  </div>

</section>

<br>

<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="<%= page "index" %>">Home</a></li>
    <li><a href="<%= page "posts/index" %>">All Posts</a></li>
    <li class="is-active"><a href="#" aria-current="page"><%= title %></a></li>
  </ul>
</nav>

<div>
  <%= unless Enum.empty? tags do %>
    <p>Tags:</p>
    <ul>
      <%= for t <- tags do %>
        <li><a href="<%= t.list_url %>"><%= t.name %></a></li>
      <% end %>
    </ul>
  <% end %>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter
                is-10-mobile is-offset-1-mobile">
      <div class="content">
        <%= contents %>
      </div>
    </div>
  </div>
</div>
