<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a class="navbar-item" href="<%= page "index" %>">
      daylenw
    </a>

    <a role="button" class="navbar-burger" aria-label="menu"
                                           aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="<%= page "posts/index" %>">Posts</a>
    </div>
  </div>

</nav>
